.child-component-heading {
  text-align: center;
  display: flex;
  justify-content: center;
}
.child-component-container {
  border: "10px solid green";
}
.input-message {
  height: 25px;
  border-radius: 5px;
  border: 1px solid black;
  width: 200px;
}
.submit-button {
  background-color: rgb(25, 25, 196);
  padding: 4px;
  border-radius: 10px;
  color: white;
  margin: 2px;
}
